/* pembuatan untuk index */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "adobe-clean", sans-serif;
} 

/* header */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee3e3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    -webkit-tap-highlight-color: 50%;
    width: 846px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    background-color: transparent;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closbtn a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.closbtn {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.openbtn {
    cursor: pointer;
    background-color: #111;
    color: #00CED1;
    padding: 5px 10px;
}

.openbtn a:hover {
    background-color: #444;
}

#main {
    padding: 5px 10px 5px 5;
    transition: margin-left .5s;
}

img {
    height: 30px;
    width: 30px;
    float: left;
}

li {
    list-style: none;
    float: left;
    font-size: 15px;
}

.header {
    width: 100%;
    height:89pxpx;
    top: 29px;
    bottom: 30px;
    background-color: #FFFF;
    border-bottom: 1px solid #818181 ;
    box-shadow: 1px 2px 8px rgba(0,0,0,65);
    display:flex;
    align-items:center;
    justify-content:flex-start;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}

.header-logo {
    width: 100%;
    height: 89px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    background-color:#FFFF;
    padding-left: 80px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 200px;
}

.dashboard {
    font-size: 30px;
    float: right;
    padding-left: 80.87px;
    flex: 1;
    margin-left: 20px;
}

.gmail {
    font-size: 20px;
    padding-right: 20px;
}
.login-btn {
    font-size: 40px;
    float: right;
}

.main {
    width: 100%;
    background-color:white;
    box-sizing: border-box;
}

h2 {
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}

/* filter sidebar*/
.filter-sidebar {
    height: 100%;
    width: 0;
    float: right;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eee3e3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.filter-sidebar a {
    padding: 8px 8px 8px 32px;
    -webkit-tap-highlight-color: 50%;
    width: 846px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    background-color: transparent;
    transition: 0.3s;
}

.filter-sidebar a:hover {
    color: #f1f1f1;
}

.filter-sidebar .closbtn a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.filterx {
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.closfilter-btn {
    flex: 1;
    float: right;
    justify-content: space-between;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 0;
}

.open-btn {
    float: right;
    cursor: pointer;
    background-color: #111;
    color: #00CED1;
    margin-top: 250px;
    padding: 5px 10px;
}

.open-btn a:hover {
    background-color: #444;
}

#filter-main {
    padding: 5px 10px 5px 5;
    transition: margin-left .5s;
}

.option {
    border: 25px;
    margin: 10px;
    background-color: #000;
    color: #ffff;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border: 100%;
}

.dropbtn {
    width: 100%;
    margin-top: 5px;
    background-color: #3e8e41;
    color: #000;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    border:1px solid black;
    box-sizing:border-box;
    cursor: pointer;
    padding: 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown .dropbtn {
    background-color: #E0FFFF;
}

/* load filter sidebar */
#load-main {
    padding: 5px 10px 5px 5;
    transition: margin-left .5s;
}

.loadfilter-sidebar {
    height: 100%;
    width: 0;
    float: right;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eee3e3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.loadfilter-sidebar a {
    padding: 8px 8px 8px 32px;
    -webkit-tap-highlight-color: 50%;
    width: 846px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    background-color: transparent;
    transition: 0.3s;
}

.loadfilter-sidebar a:hover {
    color: #f1f1f1;
}

.loadfilter-sidebar .closbtn a {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.clos-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
}

.openload-btn {
    float: right;
    cursor: pointer;
    background-color: #111;
    color: #00CED1;
    margin-top: 260px;
    margin-right: -38px;
    padding: 5px 10px;
}

.open-btn a:hover {
    background-color: #444;
}

.load {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.loadd li {
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;

}

@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
        padding-top: 50px;
    }

}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}